.header{
    height: 469px;
    display: flex;
    flex-flow: line wrap;
    background-image: url(Imagens/home\ header.png);
    background-size: 100%;
    background-position: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}

.hTexto h1{
    font-family: Un Pen;
    font-size: 50px;
    color: #FDDFD6;
    margin-bottom: 25px;
}

.hTexto p{
    align-self: center;
    justify-self: center;
    color: #F7F8F3;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 50%;
    /* justify-self: center; */
}

.neeko{
    height: 469px;
}

.divNav{
    align-items: center;
    margin: 60px 0;
}

.subMenu{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.subMenu ul{
    display: flex;
    align-items: center;
}

.subMenu li{
    font-family: 'Open Sans', sans-serif;
    /* font-size: 15px; */
    background-color: #FFEFF0;
    color: #ACAEC5;
    font-weight: bold;
    padding: 25px 40px;
}

.subMenu li:hover{
    background-color: #EDCFD9;
    border-style:none;
    transition: 0.5s all;
    transform: scale(1);
}


.subMenu li:not(:last-child) {
    border-right-style:solid;
    border-right-color: #EDCFD9;
    border-right-width: 2px;
}

.subMenu li:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.subMenu li:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.linha{
    width: 90%;
    height: 2px;
    background-color: #FDDFD6;
    margin: 0 auto 60px auto;
}

.divTop h1{
    font-size: 50px;
    color: #ACAEC5;
    font-family: Un Pen;
    font-weight: bold;
    margin: 0 0 50px 5%;
}

p{
    text-align: justify;
}

.divTop p{
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: 30px auto;
    color: #DDA6B9;
}

.divTop{
    margin-bottom: 80px;
}

h2{
    font-size: 30px;
    color: #5D5D79;
    font-family: Un Pen;
    margin-left: 5%;
}

.links{
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
}

a:not(.cabecalho){
    color: #5D5D79;
}

@media screen and (max-width:1292px) {
    .header{
        background-size: cover;
    }
}