main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(Imagens/pers\ wpp.png);
    background-size: 100%;
    background-position: initial;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

li img{
    width: 224px;
}

.pers{
    height: 92px;
    margin: 180px 0 150px  0;
}

.header{
    width: 100%;
}

.persNav{
    width: 100%;
    /* background-color: #FFF1EF; */
    display: flex;
    justify-content: center;
}

.persLista{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.lista{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 91.5%;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.lista li{
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 15px 50px 15px;
}

.lista li:hover{
    /* border-color: #DDA6B9; */
    /* border-color: #EDD2D2; */
    background-color: #FDDFD6;
    border-width: 3px;
    border-style:none;
    border-radius: 15px;
    padding: 25px;
    transition: 0.45s all;
    transform: scale(1);
    /* margin-left: 15px;
    margin-right: 15px; */
}

li a{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.lista a img{
    border-radius: 200px;
}

h2{
    color: #DDA6B9;
    font-family: Un Pen;
    font-size: 35px;
    margin-top: 20px;
}

h3{
    color: #ACAEC5;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 5px;
}

.linha{
    width: 90%;
    height: 2px;
    background-color: #FDDFD6;
    margin: 0 auto 60px auto;
}

@media screen and (max-width:768px) {
    
}