h1{
    font-size: 50px;
    color: #ACAEC5;
    font-family: Un Pen;
    font-weight: bold;
    margin-bottom: 50px;
}

body{
    background-image: url(../../Imagens/super-mario-bros-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    display: flex;
    justify-content: space-around;
}

.inicio{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    height: min-content;
}

.pp{
    width: 50%;
}

.indice{
    /* width: min-content; */
    padding-right: 50%;
}

.indH{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: #EDCFD9;
    width: 100%;
}

h2:not(.personagem h2){
    font-size: 30px;
    color: #5D5D79;
    font-family: Un Pen;
    margin-left: 15px;
}

.indH img{
    width: 25px;
}

.conteudo{
    background-color: #FFF1EF;
    margin: 80px 100px;
    padding: 70px;
    border-radius: 20px;
    max-width: 1000px;
}

p:not(.creditos p){
    font-family: 'Open Sans', sans-serif;
    color: #5D5D79;
}

p:not(.infoList){
    text-align: justify;
}

.sobre p{
    margin-bottom: 40px;
}

.indList{
    list-style: inside decimal;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #EDCFD9;
    border-width: 2px;
    padding: 15px;
    width: 100%;
}

.linha{
    width: 100%;
    height: 2px;
    background-color: #FDDFD6;
    margin: 20px 0 40px 0;
}

.personagem{
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #E45DAE;
    margin-left: 40px;
}

.personagem:nth-child(n+1){
    align-items: center;
}

.pers{
    width: 160px;
    /* justify-self: center; */
    margin: 20px auto;
}

.personagem h2{
    font-size: 25px;
    font-family: 'Amaranth', sans-serif;
    font-weight:bold;
    padding: 20px 0;
    background-color: #E45DAE;
    color: #F4D2DB;
    width:100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info h2{
    font-size: 18px;
    border-radius: 0;
    padding: 10px 0;
}

h3{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #EDCFD9;
    width: 25%;
}

.infoList li{
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    justify-content: space-between;
}

.infoList li:not(:last-child){
    border-bottom-color: #E45DAE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.infoList p:nth-child(5){
    margin-left: 10px;
}

.infoList p{
    margin-left: 5px;
    color: #5D5D79;
    text-align: right;
}

.divTexto div:not(.linha){
    margin-top: 40px;
}

.links{
    font-family: 'Open Sans', sans-serif;
}

a:not(.cabecalho){
    color: #5D5D79;
}